@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --clr-one: hsl(0, 0%, 100%);
    --clr-two: hsl(212, 45%, 89%);
    --clr-three: hsl(220, 15%, 55%);
    --clr-four: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--clr-two);
    font-family: 'Outfit', sans-serif;
    height: 100%;
    overflow: hidden;
}

.content{
    /* border: 2px solid black; */
    position: relative;
    background-color: var(--clr-one);
    width: 18rem;
    height: 30rem;
    padding: 0.75rem;
    border-radius: 15px;
    margin: 5rem auto;
}
.content img{
    width: 100%;
    border-radius: 15px;
}
.descr{
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    margin-top: 1.75rem;
}
.descr h3{
    font-weight: 700;
    margin-bottom: 0.75rem;
}
.descr p{
    font-size: 15px;
    font-weight: 400;
    color: var(--clr-three);
}

.attribution { 
    margin-top: 1rem;
    font-size: 11px;
    text-align: center; }
.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}